html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    font-family: 'Cairo', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: 'Cairo', sans-serif !important;
}

.header {
    background: #1f1f24;
    height: 70px;
    padding: 0;
    transition: all 0.5s;
    z-index: 997;
    border: 0;
}

.header .logo h1 {
    color: #fff;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fff;
}

.section-label {
    font-weight: 700 !important;
    font-size: large !important;
}

.menu .menu-link-items .nav-link h4 {
    font-weight: 600;
}

.menu .menu-link-items {
    padding: 0;
}

.menu .tab-content .row {
    margin-top: 0;
}

.menu .tab-content .menu-item {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-bottom: 1.5rem;
    position: relative;
}

.menu .tab-content .menu-item .img-fluid {
    padding: 0px;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 2.5rem);
    top: -2.5rem;
    border: 6px double #e0e0e0;
    background: #fff;
}

.menu .tab-content .menu-item h4,
.menu .tab-content .menu-item p {
    align-self: self-start;
}

.menu .tab-content .menu-item h4 {
    font-weight: 600;
}

.price span {
    color: black;
    font-size: medium;
}

.contact .info-item .icon {
    margin-right: 0;
    margin-left: 15px;
}

.section-header p {
    font-size: 20px;
    font-weight: 600;
}

.contact .info-item {
    padding: 10px;
}

.contact .info-item .icon {
    width: 35px;
    height: 35px;
}

.contact .bi::before,
.contact [class^="bi-"]::before,
.contact [class*=" bi-"]::before {
    font-size: medium;
}

.footer {
    padding: 10px 0;
}

.footer .social-links {
    margin-right: -10px;
}

.footer .icon {
    margin-left: 15px;
}

.quantity__box {
    display: flex;
    direction: ltr;
}

.quantity__value.decrease {
    border-radius: 10px 0 0 10px;
}

.quantity__value.increase {
    border-radius: 0 10px 10px 0;
}

.quantity__value {
    display: inline-block;
    border: 1px solid var(--border-color2);
    margin: 0px;
    width: 2.3rem;
    height: 2rem;
    text-align: center;
    padding: 0;
    background: var(--gray-color2);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 0;
}

input.quantity__number {
    text-align: center;
    border: none;
    border-top: 1px solid var(--border-color2);
    border-bottom: 1px solid var(--border-color2);
    margin: 0px;
    width: 2.3rem;
    height: 2rem;
}

.quickview__close--btn {
    font-size: 1.3rem;
    padding: 0;
    width: 2rem;
    height: 2rem;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    background: var(--white-color);
}

.quickview__close--btn:hover {
    background: var(--color-primary);
    border: 0;
    color: var(--white-color);
}

.modal-header {
    border-bottom: unset;
}

.quickview__header {
    position: absolute;
    padding: 0;
    top: 16px;
    left: 16px;
    z-index: 9;
}

#cartCheckoutModal .quickview__header {
    position: relative;
    top: 0;
    right: 0;
}

#cartCheckoutModal .modal-title {
    font-size: medium;
}

.modal-content .item-media {
    padding: 12px;
}

.modal .product__details--info__title,
.modal .checkout-total-title {
    font-size: medium;
}

.modal .checkout-total-title {
    font-weight: 600;
}

.cart-checkout-product .quantity__value {
    height: 1.5rem;
    width: 2rem;
}

.cart-checkout-product input.quantity__number {
    height: 1.5rem;
    width: 2rem;
}

.toast-container {
    position: fixed;
    bottom: 10px;
    z-index: 999999;
    /* width: 100%; */
}

.toast-container .alert {
    margin: 1rem;
    padding: 1rem;
}

#productModal .product__details--info__title {
    font-weight: 600;
}

#productModal .product-images-slider img{
    max-height: 20rem;
}

@media (max-width: 575px){
    .toast-container {
        width: 100%;
    }
}

@media (min-width: 575px){
    .toast-container {
        width: 30%;
    }
}



.ui-autocomplete {
    z-index: 2999 !important; 
    position: absolute;
    background-color: white;
    border: var(--border-color) 1px solid;
    border-radius: 5px;
    padding: 0;
}

.ui-autocomplete .ui-menu-item{
    padding: 5px 0;
    list-style: none;
    width: 100%;
    padding-right: 1rem;
}

.ui-autocomplete .ui-menu-item:hover{
    background-color: var(--border-color);
}

#cartCheckoutProductTemplate {
    z-index: 1999; 
}


.footer .credits button{
    padding: 0;
    color: white;
    font-size: small;
    text-decoration: none;
}

.provider-brand-name{
    color: white !important;
    font-weight: 700;
}
#gallery-section-items .img-fluid {
    width: 100%;
}

#carouselHeaderImages .carousel-item img {
    height: 20rem;
}

@media (min-width: 992px){
    #carouselHeaderImages .carousel-item img {
        height: 25rem;
    }
}


.breadcrumb-item {
    font-weight: 800;
}


.breadcrumb .page-title{
    color: gray;
}

.breadcrumb-item+.breadcrumb-item::before{
    float: right;
    padding-left: 8px;
    color: gray;
}

.ui-helper-hidden-accessible {
    display: none;
}